body {
    background-color: #FBF5E5;
}
div img {
    width: 100px;
    margin-top: 10px;
}
div {
    background-color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 15px;
    text-align: center;
}

section {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

*{
    text-decoration: none;
}

h4 {
    color:black
}
p{
    color: black;
}